
  <div class="card" id="Filter">
    <!-- Form starts -->
    <form [formGroup]="form" >
      <h3>Filters</h3>
        <div id="launch_year">
          <h5>Launch Year</h5><hr>
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <table>
              <tr><td><mat-button-toggle [value]="2006" (click)="set_launch_year('2006')">2006</mat-button-toggle></td>
              <td><mat-button-toggle [value]="2007" (click)="set_launch_year('2007')">2007</mat-button-toggle></td></tr>
              <tr><td><mat-button-toggle [value]="2008" (click)="set_launch_year('2008')">2008</mat-button-toggle></td>
              <td><mat-button-toggle [value]="2009" (click)="set_launch_year('2009')">2009</mat-button-toggle></td></tr>
            <tr><td><mat-button-toggle [value]="2010" (click)="set_launch_year('2010')">2010</mat-button-toggle></td>
            <td><mat-button-toggle [value]="2011" (click)="set_launch_year('2011')">2011</mat-button-toggle></td></tr>
            <tr><td><mat-button-toggle [value]="2012" (click)="set_launch_year('2012')">2012</mat-button-toggle></td>
            <td><mat-button-toggle [value]="2013" (click)="set_launch_year('2013')">2013</mat-button-toggle></td></tr>
            <tr><td><mat-button-toggle [value]="2014" (click)="set_launch_year('2014')">2014</mat-button-toggle></td>
            <td><mat-button-toggle [value]="2015" (click)="set_launch_year('2015')">2015</mat-button-toggle></td></tr>
            <tr><td><mat-button-toggle [value]="2016" (click)="set_launch_year('2016')">2016</mat-button-toggle></td>
            <td><mat-button-toggle [value]="2017" (click)="set_launch_year('2017')">2017</mat-button-toggle></td></tr>
            <tr><td><mat-button-toggle [value]="2018"  (click)="set_launch_year('2018')">2018</mat-button-toggle></td>
            <td><mat-button-toggle [value]="2019"  (click)="set_launch_year('2019')">2019</mat-button-toggle></td></tr>
            <tr><td><mat-button-toggle value="2020"  (click)="set_launch_year('2020')">2020</mat-button-toggle></td></tr>
          </table>
          </mat-button-toggle-group>
        </div>
          <div id="launch_success">
            <h5>Launch Success</h5><hr>
            <mat-button-toggle-group #group="matButtonToggleGroup" (click)="set_launch_success($event)">
              <mat-button-toggle [value]="true">True</mat-button-toggle>
              <mat-button-toggle [value]="false">False</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        <!-- <div id="land_success" class="mat-button-toggle-group">
          <h5>Land Success</h5><hr>
          <button	(click)="mycheck(true)" name="land_success" ngDefaultControl formControlName="land_success"	class="form-control" value="land_success">True</button>
          <button	(click)="mycheck(false)" name="land_fail" ngDefaultControl formControlName="land_fail"	class="form-control" value="land_fail">False</button>
        </div> -->
        <div id="land_success">
          <h5>Land Success</h5><hr>
          <mat-button-toggle-group #group="matButtonToggleGroup" (click)="set_land_success(group)">
            <mat-button-toggle [value]="true">True</mat-button-toggle>
            <mat-button-toggle [value]="false">False</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <!-- <button	(click)="mycheck('land_success')" name="ageto" ngDefaultControl formControlName="ageto"	class="form-control" value="land_success">MY CHECK</button> -->

    </form>
</div>
