#Filter {
    align-items: center;
    text-align: center;
}

h3 {
  text-align: left;
}

hr {
  width: 60%;
}
.mat-button-toggle-group {
  border: none;
}

table {
  border-spacing: none;
  margin: 20px;
}

mat-button-toggle {
  border-radius: 10px;
  background-color: #D3F9A4;
  /* padding: 20px; */
  margin : 15px;
  border-color: none;
  border: none;
}

.mat-button-toggle-checked {
  background-color: #78CA17;
}
